

/* Box Model */

	
	
/* Type */

	

		@media screen and (max-width: 1680px) {

			html {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 1280px) {

			html {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 980px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			html {
				font-size: 12pt;
			}

		}

	

/* Box */

	.box {
		margin-bottom: 2rem;
		background: rgba(255, 255, 255, 0.95);
		border-radius: 4px;
	}

		.box .image.fit {
			margin: 0;
			border-radius: 0;
		}

			.box .image.fit img {
				border-radius: 0;
			}

		.box header {
			margin: 0 0 2rem 0;
		}

			.box header h2 {
				margin-bottom: 1rem;
				position: relative;
				padding-bottom: 1rem;
				font-weight: 700;
			}

				.box header h2:after {
					content: '';
					position: absolute;
					margin: auto;
					right: 0;
					bottom: 0;
					left: 0;
					width: 10%;
					height: 1px;
					background-color: rgba(0, 0, 0, 0.125);
				}

			.box header p {
				text-transform: uppercase;
				font-size: .75rem;
				font-weight: 300;
				margin: 1rem 0;
				padding: 0;
				letter-spacing: .25rem;
			}

		.box .content {
			padding: 3rem;
		}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

		@media screen and (max-width: 736px) {

			.box .content {
				padding: 2rem;
			}

		}

	.box {
		border-color: rgba(144, 144, 144, 0.25);
	}


/* Gallery */

	.gallery {
		width: 100%;
		margin: 0;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-align-items: stretch;
		-webkit-align-items: stretch;
		-ms-align-items: stretch;
		align-items: stretch;
	}

		.gallery .image.fit {
			margin: 0;
		}

		.gallery > * {
			-moz-flex-shrink: 1;
			-webkit-flex-shrink: 1;
			-ms-flex-shrink: 1;
			flex-shrink: 1;
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
		}

		.gallery > * {
			width: 50%;
		}

		@media screen and (max-width: 980px) {

			.gallery > * {
				width: 100%;
			}

		}


/* Image */

	.image {
		display: inline-block;
		position: relative;
	}

		.image.flush {
			margin: 0 !important;
		}

		.image img {
			display: block;
		}

		.image.left, .image.right {
			max-width: 50%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			margin: 0 1rem 1rem 0;
			top: 0.25rem;
		}

		.image.right {
			float: right;
			margin: 0 0 1rem 1rem;
			top: 0.25rem;
		}

		.image.fit {
			display: block;
			margin: 0 0 2rem 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 0 0 3rem 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}



/*Spotlight */

	.spotlight {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
	}

		.spotlight > * {
			-moz-flex-shrink: 1;
			-webkit-flex-shrink: 1;
			-ms-flex-shrink: 1;
			flex-shrink: 1;
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
		}

		.spotlight > * {
			width: 50%;
		}

		.spotlight p:last-child {
			margin: 0;
		}

		.spotlight .inner {
			padding-left: 4rem;
			padding-right: 4rem;
			padding-bottom: 2rem;
			padding-top: 2rem;
		}

		.spotlight .image {
			margin: 0;
		}

			.spotlight .image img {
				width: 100%;
			}

		.spotlight.alt {
			background: #1e1f23;
			color: #f5f5fa;
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-moz-align-items: center;
			-webkit-align-items: center;
			-ms-align-items: center;
			align-items: center;
			text-align: right;
		}

			.spotlight.alt > * {
				-moz-flex-shrink: 1;
				-webkit-flex-shrink: 1;
				-ms-flex-shrink: 1;
				flex-shrink: 1;
				-moz-flex-grow: 0;
				-webkit-flex-grow: 0;
				-ms-flex-grow: 0;
				flex-grow: 0;
			}

			.spotlight.alt h3 {
				color: #FFF;
			}

			.spotlight.alt .image {
				-moz-order: 2;
				-webkit-order: 2;
				-ms-order: 2;
				order: 2;
			}

		@media screen and (max-width: 1280px) {

			.spotlight .inner {
				padding: 4rem;
			}

		}

		@media screen and (max-width: 980px) {

			.spotlight {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-wrap: wrap;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				text-align: center;
			}

				.spotlight > * {
					-moz-flex-shrink: 1;
					-webkit-flex-shrink: 1;
					-ms-flex-shrink: 1;
					flex-shrink: 1;
					-moz-flex-grow: 0;
					-webkit-flex-grow: 0;
					-ms-flex-grow: 0;
					flex-grow: 0;
				}

				.spotlight > * {
					width: 100%;
				}

				.spotlight.alt {
					display: -moz-flex;
					display: -webkit-flex;
					display: -ms-flex;
					display: flex;
					-moz-flex-wrap: wrap;
					-webkit-flex-wrap: wrap;
					-ms-flex-wrap: wrap;
					flex-wrap: wrap;
					-moz-align-items: center;
					-webkit-align-items: center;
					-ms-align-items: center;
					align-items: center;
					text-align: center;
				}

					.spotlight.alt > * {
						-moz-flex-shrink: 1;
						-webkit-flex-shrink: 1;
						-ms-flex-shrink: 1;
						flex-shrink: 1;
						-moz-flex-grow: 0;
						-webkit-flex-grow: 0;
						-ms-flex-grow: 0;
						flex-grow: 0;
					}

					.spotlight.alt .image {
						-moz-order: 0;
						-webkit-order: 0;
						-ms-order: 0;
						order: 0;
					}

		}

		@media screen and (max-width: 736px) {

			.spotlight .inner {
				padding: 2rem;
			}

		}



/* Main */

	#main > .inner {
		margin: 0 auto;
		width: 80rem;
		max-width: 90%;
		margin-bottom: 2rem;
		background: rgba(255, 255, 255, 0.95);
		/*
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		border-radius: 4px;
		*/
	}

	@media screen and (max-width: 980px) {

		#main .image {
			width: 100%;
			min-width: 100%;
			float: none;
			margin: 0 0 2rem 0;
		}

			#main .image img {
				width: 100%;
			}

	}

	.wrapper > header {
		text-align: center;
		background: #FFF;
		padding: 2rem;
		margin: 0;
	}

		.wrapper > header h2 {
			position: relative;
			padding-bottom: .75rem;
		}

			.wrapper > header h2:after {
				content: '';
				position: absolute;
				margin: auto;
				right: 0;
				bottom: 0;
				left: 0;
				width: 10%;
				height: 1px;
				background-color: rgba(0, 0, 0, 0.125);
			}

		.wrapper > header p {
			text-transform: uppercase;
			font-weight: 300;
			font-size: .8rem;
			letter-spacing: .25rem;
			margin: 0;
		}

		.wrapper > header.special {
			padding: 4rem 2rem;
		}

			@media screen and (max-width: 980px) {

				.wrapper > header.special {
					padding: 3rem 2rem;
				}

			}

		@media screen and (max-width: 736px) {

			.wrapper > header {
				padding: 1.5rem;
			}

				.wrapper > header h2 {
					font-size: 1.5rem;
				}

					.wrapper > header h2:after {
						width: 50%;
					}

		}

	.wrapper.style1 .content {
		padding-left: 6rem;
		padding-right: 6rem;
		padding-bottom: 6rem;


	}

		@media screen and (max-width: 1280px) {

			.wrapper.style1 .content {
				padding: 4rem;
			}

		}

		@media screen and (max-width: 736px) {

			.wrapper.style1 .content {
				padding: 2rem;
			}

		}

	.wrapper.style2 {
		background: #1e1f23;
		padding: 6rem;
	}

		.wrapper.style2 header {
			background: #1e1f23;
			border-radius: 4px 4px 0 0;
		}

			.wrapper.style2 header h2 {
				color: #FFF;
			}

				.wrapper.style2 header h2:after {
					background-color: rgba(255, 255, 255, 0.125);
				}

			.wrapper.style2 header p {
				color: rgba(255, 255, 255, 0.25);
			}

		@media screen and (max-width: 1280px) {

			.wrapper.style2 {
				padding: 4rem;
			}

		}

		@media screen and (max-width: 736px) {

			.wrapper.style2 {
				padding: 2rem;
			}

		}
.dahulu{
	font-size: 16px;
}
